<div class="container">
	<h1>
		{{title}}
	</h1>
	<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.valid)" flex="33">
		<md-input-container flex>
			<input mdInput placeholder="Correo" type="email" name="mail" #email="ngModel" [(ngModel)]="user.email" required pattern='^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$'>
			<span *ngIf="!email.valid && (email.touched || email.dirty)" >
				<strong [hidden]=!email.errors.required>El campo es requerido</strong>
				<strong [hidden]=!email.errors.pattern>El correo no es valido</strong>
			</span>
		</md-input-container>
		<md-input-container>
			<input mdInput placeholder="Contraseña" type="password" name="password" #password="ngModel" [(ngModel)]="user.password">
		</md-input-container>
		<button md-raised-button color="primary" type="submit" value="Submit">Log in</button>
	</form>
	<div *ngIf="identity">
		<md-card>Bienvenido: <strong>{{ identity.name }}</strong></md-card>
	</div>
	<div *ngIf="error">
		<md-card class="bg-danger">Se produjo un error al validar usuario</md-card>
	</div>
</div>