<div class="container">
	<md-toolbar color="primary">
		<span>Tareas Personales</span>
		<md-icon>more_vert</md-icon>
		<button md-raised-button color="primary" [routerLink]="['/home', { token:token }]" *ngIf="token">
			<md-icon>home</md-icon>
			Home
		</button>
		<button md-raised-button color="primary" [routerLink]="['/addtask', { token:token }]" *ngIf="token">
			<md-icon>add_circle</md-icon>
			Crear tarea
		</button>
		<button md-raised-button color="primary" [routerLink]="['/setting', { token:token }]" *ngIf="token">
			<md-icon>settings</md-icon>
			Ajustes
		</button>
		<button md-raised-button color="primary" [routerLink]="['/login', { id:'1' }]" *ngIf="token">
			<md-icon>exit_to_app</md-icon>
			Salir
		</button>
		<div *ngIf="!token">
			<button md-raised-button color="primary" [routerLink]="['/login']">
				<md-icon>exit_to_app</md-icon>
				Ingresar
			</button>
			<button md-raised-button color="primary" [routerLink]="['/register']">
				<md-icon>add_circle</md-icon>
				Registro
			</button>
		</div>
		<div class="md-toolbar-tools" *ngIf="!token">
			<span flex></span>
			<button md-icon-button [md-menu-trigger-for]="menu">
				<md-icon>view_headline</md-icon>
			</button>
			<md-menu x-position="before" #menu="mdMenu">
				<button md-menu-item [routerLink]="['/login']">Ingresar</button>
				<button md-menu-item [routerLink]="['/register']">Registro</button>
			</md-menu>
		</div>
	</md-toolbar>
</div>
