<div layout="column" layout-align="center center" class="text-center" flex>
	<div >
		<h1>
			{{title}}
		</h1>
	</div>
	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.valid)">
		<div >
			<md-input-container>
				<input mdInput placeholder="Nombre" type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required>
				<span *ngIf="!name.valid && (name.touched || name.dirty)" >
					<strong [hidden]=!name.errors.required>{{ validations.isRequired }}</strong>
				</span>
			</md-input-container>
		</div>
		<div >
			<md-input-container>
				<input mdInput placeholder="Correo" type="email" name="mail" #email="ngModel" [(ngModel)]="user.email" required pattern='^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$'>
				<span *ngIf="!email.valid && (email.touched || email.dirty)" >
					<strong [hidden]=!email.errors.required>{{ validations.isRequired }}</strong>
					<strong [hidden]=!email.errors.pattern>{{ validations.isValid }}</strong>
				</span>
			</md-input-container>
		</div>
		<div >
			<md-input-container>
				<input mdInput placeholder="Contraseña" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
				<span *ngIf="!password.valid && (password.touched || password.dirty)" >
					<strong [hidden]=!password.errors.required>{{ validations.isRequired }}</strong>
				</span>
			</md-input-container>
		</div>
		<div >
			<md-input-container>
				<input mdInput placeholder="Repita Contraseña" type="password" name="passwordValid" #passwordValid="ngModel" [(ngModel)]="user.passwordValid" required pattern="{{user.password}}">
				<span *ngIf="!passwordValid.valid && (passwordValid.touched || passwordValid.dirty)" >
					<strong [hidden]=!passwordValid.errors.required>{{ validations.isRequired }}</strong>
					<strong [hidden]=!passwordValid.errors.pattern>{{ validations.isEqual }}</strong>
				</span>
			</md-input-container>
		</div>
		<button md-raised-button color="primary" type="submit" value="Submit">Registrarse</button>
	</form>
	<div *ngIf="identity">
		<md-card>Bienvenido: <strong>{{ identity.name }}</strong></md-card>
	</div>
	<div *ngIf="error">
		<md-card class="bg-danger">Se produjo un error al validar usuario</md-card>
	</div>
</div>